.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

form {
  padding: 1rem;
  border: 1px solid rgb(67, 91, 194);
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(33, 33, 129);
  color: white;
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}
